@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgba(140,140,140,1) !important;
}
.homecont{
    position: absolute;
    top: 0;
    left: 0;
}
.app{
    display: block;
    overflow: hidden;
}

.navbar{
    background-color: rgb(255, 255, 255);
    
}

.main{
    /* background-image: rgba(151,199,255,1); */
    /* background-color: rgb(23, 88, 168); */
    height: 100%;
    padding:7%;
    padding-top: 0%;
    /* margin-top: 9vh; */
    width: 100vw; 
}
.routes{
    padding: 5%;
    /* padding-bottom: 20px; */
}

.nav-container{
    z-index: 101;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0;
    margin: 10px;
    height: 12vh;
    width: 100vw;
    margin: 0px;
    padding: -10px;
    background-color: rgb(255, 255, 255);
    right: 0;
    top: 0;
}

.logo-container{
    background-color: #ffffff;
    display: flex;
    /* padding: 20px; */
    align-items: center;
    width: 20vw;
}
.logo{
    margin:10px 0 0 5px;
}
.logo a{
   color: white;
}
.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1000px){
    .main{
        /* padding: 9%; */
    }
    .logo-container{
        width: 40vw;
    }
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        flex: 1;
    }

    .main{
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }
    .logo-container{
        width:100%;
        padding: 10px;
    }

    .nav-container{
        height: 10vh;
        position:fixed;
        width: 100%;
        z-index: 101;
        background-color: rgb(255, 255, 255);
        padding-top: 10px;
        /* margin-top: 2px; */
    }
  
    .menu-control-container{
        display: block !important;
    }

    .ant-menu{
        position: absolute;
        right: 0px;
    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}

.coin-detail-container{
    margin: 30px;
}

.coin-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    margin-top: 8%;
}

.coin-heading-container .coin-name{
    font-weight: 900;
    color: black;
    font-size: 5vh;
}

.coin-heading-container p{
    font-size: 1rem;
    /* opacity: 0.9; */
    margin-bottom: 20px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: black;
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: black !important;
    font-size: larger;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

}

.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats{
    font-weight: 800;
}

.coin-value-statistics-heading p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2{
    font-weight: 700;
    color: black;
}

.coin-desc-link p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a{
    color: black;
}

.coin-desc-link h3{
    font-weight: 700;
}

.coin-desc{
    flex: 0.5;
}

.coin-links{
  padding: 0px 20px;
    flex: 0.5;
}

.coin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a{
    color: black;
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
    background-color: var(--bgSecondary);
}

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
    .coin-heading-container{
        margin-top: 11%;
    }
    
}
@media screen and (max-width:840px){
    .op{
        display: flex;
        flex-direction: column;
    }
    .op > l1{
        display: inline;
    }
}
@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
}

.select-news{
    width: 180px;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}
.news-title{
width: 70%;
}

.news-image-container .img{
    width:100px;
    height:100px;
}
.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: black;
}
.chart-title{
    color: #000000 !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.show-more{
    margin-top: 0px !important;
}
.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 250px;
}
.crypto-card-container{
    min-height: 65vh !important;
}
.crypto-card{
    min-width: 250px;
}
.crypto-card .crypto-image{
    width:35px;
}
.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.footer {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.search-crypto{
    width: 25vw;
    position: relative;
    z-index: 200;
}
.anus{
    /* margin: 7%; */
    z-index: 100;
    position: relative;
    margin-top: 5%;
    /* margin-bottom: 10%; */
}
.mkt{
    position: relative;
    padding: 5%;
    /* margin-top: 9%; */
    padding-top: 9%;
    padding-bottom: 2%;
}
.hum{
    position: relative;
    /* padding: 5%; */
    padding-top: 2%;
}
.meow{
    width: 100vw;
    position: relative;
    height: 65vh;
    top: 5.5vh;
    left: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}